{{template "header" .LayoutModel }}
  <p><a class="button" href="{{ $.LayoutModel.UrlBase }}/">Back to List</a></p>
  <h2><a href="{{ .Restaurant.Url  }}" target="zomato">{{ .Restaurant.Name }}</a></h2>
  <div class="menu">
  {{ range $i2,$v2 := .Menu.MenuItem }}
   <h3 title="Menu status: {{ $.Menu.Status }}">Menu:
             {{ $v2.MenuItemItem.Name }}
	     ({{ len $v2.MenuItemItem.Dishes }} dishes)
	     {{ $v2.MenuItemItem.MenuCompactDate }}</h3>
   <table>
    <thead>
     <tr><th>Name</th><th>Price</th></tr>
    </thead>
    <tbody>
     {{ range $i3,$v3 := $v2.MenuItemItem.Dishes }}
     <tr><td>{{ $v3.Dish.Name }}</td><td>{{ $v3.Dish.Price }}</td></tr>
     {{ end }}
    </tbody>
   </table> 
  {{ end }}
  <p>
  {{with $.PrevId }}<a class="button" href="{{ $.LayoutModel.UrlBase }}/menu/{{.}}">Prev. Menu</a>{{end}}
  {{with $.NextId }}<a class="button" href="{{ $.LayoutModel.UrlBase }}/menu/{{.}}">Next Menu</a>{{end}}
  </p>
  <p class="small">Updated on: {{ ZoCzDateFormatWithAgo .Menu.Changed }}</p>
  </div>

{{template "footer" .LayoutModel }}
