{{template "header" .LayoutModel }}
  <p><a class="button" href="{{ $.LayoutModel.UrlBase }}/">{{ .LayoutModel.P.Sprintf "Back to List" }}</a></p>
  <h2><a href="{{ .Restaurant.Url  }}" target="zomato">{{ .Restaurant.Name }}</a></h2>
  <div class="menu">
  {{ range $i2,$v2 := .Menu.MenuItem }}
   <h3 title="Menu status: {{ $.Menu.Status }}">Menu:
             {{ $v2.MenuItemItem.Name }}
	     {{ $dishes := len $v2.MenuItemItem.Dishes }}
	     ({{ $.LayoutModel.P.Sprintf "%d dish(es)" $dishes }})
	     {{ $v2.MenuItemItem.MenuCompactDate }}</h3>
   <table>
    <thead>
     <tr><th>{{ $.LayoutModel.P.Sprintf "Meal" }}</th><th>{{ $.LayoutModel.P.Sprintf "Price" }}</th></tr>
    </thead>
    <tbody>
     {{ range $i3,$v3 := $v2.MenuItemItem.Dishes }}
     <tr><td>{{ $v3.Dish.Name }}</td><td>{{ $v3.Dish.Price }}</td></tr>
     {{ end }}
    </tbody>
   </table> 
  {{ end }}
  <p>
  {{with $.PrevId }}<a class="button" href="{{ $.LayoutModel.UrlBase }}/menu/{{.}}">{{ $.LayoutModel.P.Sprintf "Prev. Menu" }}</a>{{end}}
  {{with $.NextId }}<a class="button" href="{{ $.LayoutModel.UrlBase }}/menu/{{.}}">{{ $.LayoutModel.P.Sprintf "Next Menu" }}</a>{{end}}
  </p>
  <p class="small">{{ $.LayoutModel.P.Sprintf "Updated on" }}: {{ ZoCzDateFormatWithAgo $.LayoutModel.P .Menu.Changed }}</p>
  </div>

{{template "footer" .LayoutModel }}
