<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Favorite restaurants menu</title>
  <link rel="shortcut icon" href="/favicon.ico" size="32x32" >
  <style>
	img { border: 0 }
	body { background: #fff; font-family: Verdana, Arial, Helvetica }
	#footer img { vertical-align: middle }
        #footer span { float: right; }
	hr { color: #aaa; }
        .no-float { clear: both; }
  </style>
 </head>
 <body>
  <p>Now is: {{ .Now }}</p>

{{ range $i, $v := .Restaurants }}
  <h2><a href="{{ $v.Restaurant.Url  }}" target="zomato">{{ $v.Restaurant.Name }}</a></h2>
  {{ range $i2,$v2 := $v.Menu.MenuItem }}
   <h3 title="Menu status: {{ $v.Menu.Status }}">Menu:
             {{ $v2.MenuItemItem.Name }}
	     ({{ len $v2.MenuItemItem.Dishes }} dishes)
             {{ $v2.MenuItemItem.StartDate }} -
             {{ $v2.MenuItemItem.StartDate }}</h3>
   <table>
    <tr><th>Name</th><th>Price</th></tr>
    {{ range $i3,$v3 := $v2.MenuItemItem.Dishes }}
    <tr><td>{{ $v3.Dish.Name }}</td><td>{{ $v3.Dish.Price }}</td></tr>
    {{ end }}
   </table> 
  {{ end }}
{{ end }}

  <hr noshade size="1">
  <div id="footer">
   <p>See <a href="https://github.com/hpaluch/zolist-go" target="github">Source on GitHub!</a>
   <span>Powered by <a href="https://golang.org/"
                 title="Go language" target="go"><img src="/static/golang.png" alt="Go language" ></a>
   <a href="https://cloud.google.com/appengine/docs/"
      title="Google Application Engine (GAE)" target="gae"><img src='/static/appengine-silver-120x30.gif' alt='GAE' ></a></span>
   </p>
   <div class="no-float"></div>
  </div>
 </body>
</html>

